extends ../_layouts/base

include ../_modules/slider/slider
include ../_modules/product/product
include ../_modules/look-block/look-block

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.tienda
        section.tienda__hero
            .tienda__hero__layer
            +slider('tienda__hero__slider')
                each item in site.data.slider
                    .tienda__hero__slide
                        .tienda__hero__slide__image
                            img(src=item.image)
            
            .tienda__hero__data
                +content-block('sus prendas', 'a la medida y a domicilio', '', {'text':'tienda online', 'url':'#'}, 'white')
        section.tienda__main
            ul.tienda__main__heading
                li
                    a(href="#") Ceremonia
                li
                    a(href="#") Sastrería
                li
                    a(href="#") Casual
                li
                    a(href="#") Calzado
                li
                    a(href="#") Cinturones
                li
                    a(href="#") Accesorios
        
            .tienda__products
                
                .tienda__filters
                    button.tienda__filters__button 
                        | filtrar
                        i.fa.fa-filter
                    .tienda__filters__wrapper
                        .tienda__filter
                            h3.tienda__filter__title Colección
                            ul.tienda__filter__drop
                                li
                                    a(href="#") Todos
                                li
                                    a(href="#")
                                        i.material-icons keyboard_arrow_right
                                        | Ceremonia
                                    ul.tienda__filter__drop-sub
                                        li
                                            a(href="/tienda") Smoking
                                        li
                                            a(href="/tienda") Camisas Smoking
                                        li
                                            a(href="/tienda") Corbatines

                                li
                                    a(href="#")
                                        i.material-icons keyboard_arrow_right
                                        | Sastrería
                                    ul.tienda__filter__drop-sub
                                        li
                                            a(href="/tienda") Trajes
                                        li
                                            a(href="/tienda") Camisas Formales
                                        li
                                            a(href="/tienda") Pantalones Formales
                                        li
                                            a(href="/tienda") Sacos y Blazers
                                        li
                                            a(href="/tienda") Corbatas

                                li
                                    a(href="#")
                                        i.material-icons keyboard_arrow_right
                                        | Calzado
                                    ul.tienda__filter__drop-sub
                                        li
                                            a(href="/tienda") Zapatos formales
                                        li
                                            a(href="/tienda") Zapatos casuales

                                li
                                    a(href="#")
                                        i.material-icons keyboard_arrow_right
                                        | Cinturones
                                    ul.tienda__filter__drop-sub
                                        li
                                            a(href="/tienda") Cinturón formal
                                        li
                                            a(href="/tienda") Cinturón casual

                                li
                                    a(href="#")
                                        i.material-icons keyboard_arrow_right
                                        | Casual
                                    ul.tienda__filter__drop-sub
                                        li
                                            a(href="/tienda") Pantalones casuales
                                        li
                                            a(href="/tienda") Camisas casuales
                                        li
                                            a(href="/tienda") Polos
                                        li
                                            a(href="/tienda") Chaquetas
                                        li
                                            a(href="/tienda") Chalecos
                                        li
                                            a(href="/tienda") Sweateres
                                        li
                                            a(href="/tienda") Bermudas
                                        li
                                            a(href="/tienda") Vestido de Baño

                                li
                                    a(href="#")
                                        i.material-icons keyboard_arrow_right
                                        | Accesorios
                                    ul.tienda__filter__drop-sub
                                        li
                                            a(href="/tienda") Bufandas
                                        li
                                            a(href="/tienda") Pañuelos
                                        li
                                            a(href="/tienda") Mancornas
                                        li
                                            a(href="/tienda") Esferos

                        .tienda__filter
                            h3.tienda__filter__title Precio
                            .tienda__filter__price
                                label.tienda__filter__price-range__label.js-range-price-low
                                label.tienda__filter__price-range__label.js-range-price-high
                                .tienda__filter__price-range__bar-wrapper
                                    input.tienda__filter__price-range__bar.js-range-price(type='range', multiple, value="14,1200000", step="0.01" min="14", max="1200000")
                                    input(type="hidden", name="from-price", id="inputPriceFrom")
                                    input(type="hidden", name="to-price", id="inputPriceTo")
                        
                        .tienda__filter
                            h3.tienda__filter__title Color
                            .tienda__filter__colors
                                - for (var i = 0; i < 3; ++i) {
                                    .tienda__filter__color
                                        input.tienda__filter__color__button(type="radio" id="color#{(1 + i) * (i + 1)}", name="color")
                                        label.tienda__filter__color__label(for="color#{(1 + i) * (i + 1)}", style="background:#245687")
                                    .tienda__filter__color
                                        input.tienda__filter__color__button(type="radio" id="color#{(2 + i) * (i + 1)}", name="color")
                                        label.tienda__filter__color__label(for="color#{(2 + i) * (i + 1)}", style="background:#130358")
                                    .tienda__filter__color
                                        input.tienda__filter__color__button(type="radio" id="color#{(3 + i) * (i + 1)}", name="color")
                                        label.tienda__filter__color__label(for="color#{(3 + i) * (i + 1)}", style="background:#720374")
                                - }

                .tienda__list
                    .tienda__list__heading 
                        h2.tienda__list__title Nuestras Prendas
                        select.tienda__list__sort 
                            option(selected, disabled, hidden) Ordenar por:
                            option Precio
                            option Nombre
                            option Color
                    .tienda__list__items
                        - for (var i = 0; i < 3; ++i) {
                            .tienda__list__item
                                +product('../images/tienda/product-1.jpg', 'Vestido Cerruti Gris', '$944.000')
                            .tienda__list__item
                                +product('../images/tienda/product-2.jpg', 'Vestido Austin Azul', '$1.144.500')
                            .tienda__list__item
                                +product('../images/tienda/product-3.jpg', 'Vestido Cerruti Reed', '$944.000')
                        - }
                    .tienda__list__footer
                        button.tienda__list__show-more Cargar más Productos

        +look-block('PLACET tiene una herramienta novedosa, que te permite combinar diferentes prendas para poder visualizar como estas encajan con tu estilo personal.  Pruébala.')
